---

---
<div class="stack" data-pagefind-body id="article-body">
  <slot />
</div>

<style lang="scss" is:global>
  .stack > * + * {
    margin-top: var(--stack-space, 1.25em);
  }
  .stack h2,
  .stack h3 {
    letter-spacing: 0.05em;
    &::before {
      display: inline-block;
      margin-right: 0.2rem;
      color: #202123ee;
    }
  }
  .stack h2 + *,
  .stack h3 + * {
    --stack-space: 0.8em;
  }
  .stack p {
    line-height: 1.8;
  }
  .stack {
    background-color: var(--gray-10);
    padding: 0 2.5rem 3.125rem;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    h2 {
      --stack-space: 2em;
      padding-bottom: 0.75rem;
      border-bottom: 1px solid rgba(37, 37, 54, .3);
      font-weight: 600;
      &::before {
        content: '#';
      }
    }
    h3 {
      --stack-space: 1.8em;
      font-weight: 600;
      &::before {
        content: '##';
        margin-right: 0.35rem;
        letter-spacing: -0.05em;
      }
    }
    li {
      list-style: unset;
      margin-left: 1.5rem;
    }
    blockquote {
      margin-inline: auto;
      padding: 1rem 1rem 1rem 1.5rem;
      border-left: 4px solid #202123;
      background-color: #20212311;
    }
    a {
      text-decoration: underline;
      color: var(--black);
    }
    span code {
      padding: 0.2em 0.4em;
      background-color: rgba(145,145,145,.2) !important;
      color: var(--black) !important;
      font-size: 0.875rem;
    }
  }
  @include mixin.phone {
    .stack {
      padding-inline: 1rem;
      font-size: 0.875rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      h2 {
        font-size: 1.25rem;
      }
    }
  }
</style>