---

---
<div class="stack" data-pagefind-body id="article-body">
  <slot />
</div>

<style lang="scss" is:global>
  .stack > * + * {
    margin-top: var(--stack-space, 1.5em);
  }
  .stack h2,
  .stack h3 {
    letter-spacing: 0.05em;
    &::before {
      display: inline-block;
      margin-right: 0.2rem;
      color: var(--red);
    }
  }
  .stack h3 {
    letter-spacing: 0.05em;
    &::before {
      color: var(--green);
    }
  }
  .stack h2 + *,
  .stack h3 + * {
    --stack-space: 1em;
  }
  .stack p {
    line-height: 1.8;
  }
  .stack {
    background-color: var(--gray-10);
    padding: 0 2.5rem 3.125rem;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    color: var(--black);
    font-size: 1.0375rem;
    h2 {
      --stack-space: 2em;
      padding-bottom: 0.75rem;
      border-bottom: 1px solid rgba(37, 37, 54, .3);
      font-weight: 600;
      &::before {
        content: '#';
      }
    }
    h3 {
      --stack-space: 2.5rem;
      font-weight: 600;
      font-size: 1.25rem;
      &::before {
        content: '##';
        margin-right: 0.35rem;
        letter-spacing: -0.05em;
      }
    }
    ul {
      > * + * {
        margin-top: 0.5rem;
      }
    }
    li {
      list-style: unset;
      margin-left: 1.5rem;
    }
    blockquote {
      margin-inline: auto;
      padding: 1rem 1rem 1rem 1.5rem;
      border-left: 4px solid #202123;
      background-color: #20212311;
    }
    details {
      margin-top: 2rem;
      &[open] {
        summary {
          border-radius: 0.5rem 0.5rem 0 0;
          background: var(--gray-10);
          color: var(--black);
          &::after {
            rotate: 180deg;
            margin-top: 0.2rem;
          }
        }
      }
      summary {
        display: flex;
        align-self: center;
        justify-content: space-between;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        background: var(--black);
        border: 1px solid var(--black);
        color: var(--gray-10);
        font-size: 1rem;
        cursor: pointer;
        &::after {
          content: '▼';
        }
        + div {
          padding: 0.75rem 1rem;
          background: var(--black);
          color: var(--gray-10);
          border-radius: 0 0 0.5rem 0.5rem;
        }
      }
    }
    a {
      text-decoration: underline;
      color: var(--black);
    }
    span code {
      padding: 0.2em 0.5em;
      margin-inline: 0.2em;
      border-radius: 0.25rem;
      background-color: #0d1117 !important;
      color: #ddd !important;
      font-size: 0.875rem;
    }
    figure {
      margin-bottom: 2rem;
    }
    hr {
      border: 0;
      margin-block: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '•••';
        font-size: 1.25em;
        letter-spacing: .2em;
        color: var(--black);
      }
    }
  }
  @include mixin.phone {
    .stack {
      padding-inline: 1rem;
      font-size: 0.875rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      font-size: 1rem;
      h2 {
        font-size: 1.25rem;
      }
      details {
        summary {
          font-size: 0.875rem;
          padding: 0.5rem 0.75rem;
        }
        + div {
          padding: 0.75rem;
        }
      }
    }
  }
</style>