---

const { en, ja, lead } = Astro.props;
---
<div class="container">
  <div class="inner">
    <div class="title">
      <div class="en">{en}</div>
      <div class="ja">{ja}</div>
    </div>
    {lead && <p class="lead" set:html={lead} />}
    <slot />
  </div>
</div>

<style lang="scss">
  .container {
    background-color: var(--gray-10);
  }
  .inner {
    max-width: 980px;
    margin-inline: auto;
    padding: 4rem;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  .en {
    font-size: 4em;
    font-weight: 500;
    margin-left: -0.5rem;
    line-height: 1;
  }
  .ja {
    font-size: 1.2rem;
  }
  .lead {
    margin: 1.5rem 0 3.5rem;
  }
  @include mixin.mobile {
    .inner {
      padding-block: 3rem
    }
  }
  @include mixin.phone {
    .inner {
      padding: 1.375rem 1.375rem 3rem;
    }
    .en {
      font-size: 2rem;
      margin-left: 0;
    }
    .ja {
      font-size: 0.75rem;
    }
    .lead {
      margin-block: 1.25rem 2.5rem;
      font-size: 0.875rem;
    }
  }
</style>