---
import { getCollection } from "astro:content";
import { compareDesc } from 'date-fns';
import type { CollectionEntry } from "astro:content";
import type { Page, PaginateFunction } from "astro";

import Layout from "@/layouts/layout";
import Hero from "@/components/pages/hero/hero.astro";
import NewArticle from "@/components/new-article.astro";
import SearchArea from "@/components/search-area.astro";
import WideAdUnit from "@/components/adUnit/WideAdUnit.astro";

interface Props {
  page: Page<CollectionEntry<"articles">>;
}

export async function getStaticPaths({
  paginate,
} : {
  paginate: PaginateFunction
}) {
  const articlePosts = await getCollection('articles');
  const nonDraftPosts = articlePosts.filter((post) => !post.data.draft);
  const sortedArticlePosts = nonDraftPosts.sort((a, b) => compareDesc(a.data.pubDate, b.data.pubDate));
  return paginate(sortedArticlePosts, {
    pageSize: 6,
  })
}

const { page } = Astro.props;
---

<Layout home>
  <section class="hero">
    <Hero />
  </section>
  <div class="topAdUnit">
    <WideAdUnit />
  </div>
  <section class="new-article">
    <NewArticle page={page} />
  </section>
  <section class="search">
    <SearchArea />
  </section>
</Layout>

<style lang="scss">
  .hero {
    margin-top: 3.75rem;
  }
  .new-article {
    margin-bottom: 15rem;
    max-width: calc(1380px - 4rem);
    margin-left: auto;
  }
  .topAdUnit {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 4rem;
  }
  @include mixin.mobile {
    .new-article {
      margin-bottom: 10rem;
    }
  }
  @include mixin.phone {
    .hero {
      margin-top: 1.5rem;
    }
    .new-article {
      margin-bottom: 5rem;
    }
    .topAdUnit {
      margin-block: 2rem;
    }
  }
</style>