---
import Layout from "@/layouts/layout";
import Hero from "@/components/pages/hero/hero.astro";
import NewArticle from "@/components/new-article.astro";
import SearchArea from "@/components/search-area.astro";
import { getCollection } from "astro:content";
import { compareDesc } from 'date-fns';

const articlePosts = await getCollection('articles');
const sortedArticlePosts = articlePosts.sort((a, b) => compareDesc(a.data.pubDate, b.data.pubDate));
---

<Layout home>
  <section class="hero">
    <Hero />
  </section>
  <section class="new-article">
    <NewArticle posts={sortedArticlePosts} />
  </section>
  <section class="search">
    <SearchArea />
  </section>
</Layout>

<style lang="scss">
  .hero {
    margin-top: 3.75rem;
    margin-bottom: 10rem;
  }
  .new-article {
    margin-bottom: 15rem;
    max-width: calc(1380px - 4rem);
    margin-left: auto;
  }
  @include mixin.mobile {
    .new-article {
      margin-bottom: 10rem;
    }
  }
  @include mixin.phone {
    .hero {
      margin-top: 1.5rem;
      margin-bottom: 6rem;
    }
    .new-article {
      margin-bottom: 5rem;
    }
  }
</style>