---
import Layout from "../layouts/layout.astro";
import Hero from "../components/pages/hero/hero.astro";
import NewArticle from "../components/new-article.astro";
import SearchArea from "../components/search-area.astro";
---

<Layout home>
  <section class="hero">
    <Hero />
  </section>
  <section class="new-article">
    <NewArticle />
  </section>
  <section class="search">
    <SearchArea />
  </section>
</Layout>

<style lang="scss">
  .hero {
    margin-top: 3.75rem;
    margin-bottom: 10rem;
  }
  .new-article {
    margin-bottom: 15rem;
    max-width: calc(1380px - 4rem);
    margin-left: auto;
  }
</style>