---
// import '../styles/mixin.scss';
---
<div class="background"></div>

<style lang="scss">
  .background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black);
    background-image: radial-gradient(var(--gray-10) 5%, transparent 5%);
    background-position: 26px 26px;
    background-size: 52px 52px;
    width: 100vw;
    height: 100vh;
    z-index: -2;
  }
</style>