---
import '@fontsource-variable/noto-serif-display';
import Logo from "./logo.astro";

const lists = [
  [
    { text: 'Top', link: '/', blank: false },
    { text: 'Articles', link: '/articles', blank: false },
    { text: 'About', link: '/about', blank: false },
  ],
  [
    { text: 'Contact', link: '/contact', blank: false },
    { text: 'Site Policy', link: '/site-policy', blank: false },
    { text: 'Privacy Policy', link: '/privacy-policy', blank: false },
  ],
  [
    { text: 'X / Twitter', link: 'https://x.com/kameno_no3', blank: true },
    { text: 'GitHub', link: 'https://github.com/iwasaki-source', blank: true },
  ],
]
---
<footer class="footer">
  <div class="inner">
    <div class="titleSub">
      <Logo class="logo-head" />
      <p class="sub">Web技術を<br />知る・試す・楽しむ<br />ためのテックブログ</p>
    </div>
    {lists.map((list) => {
      return (
      <ul class="list">
        {list.map((item) =>
          <li class="item">
            <a href={item.link} target={item.blank ? '_blank' : undefined}>
              {item.text}
            </a>
          </li>)}
      </ul>
    )})}
    <small class="copy">© нуль</small>
  </div>
</footer>

<style lang="scss">
  .footer {
    margin-top: 160px;
    background-color: var(--gray-10);
    border: 1px solid var(--black);
    border-top-right-radius: 48px;
    border-top-left-radius: 48px;
  }
  .inner {
    max-width: 1380px;
    margin-inline: auto;
    padding: 2.5rem 4rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 4rem;
    row-gap: 2rem;
  }
  .titleSub {
    display: flex;
    grid-column: 1 / -1;
  }
  .sub {
    font-size: 0.875rem;
    margin-left: 25px;
    font-family: 'Shippori Mincho', serif;
    font-weight: 800;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .item {
    a {
      font-size: 1.125rem;
      color: var(--black);
      font-weight: 600;
    }
  }
  .copy {
    display: block;
    font-size: 1rem;
    font-family: 'Noto Serif Display Variable', serif;
  }
  @include mixin.mobile {
    .footer {
      margin-top: 120px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
    }
    .inner {
      justify-content: space-between;
      padding: 2rem;
      gap: 1.5rem;
    }
    .item {
      a {
        font-size: 1rem;
      }
    }
  }
  @include mixin.phone {
    .footer {
      margin-top: 80px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .inner {
      padding: 1.5rem 1rem 2rem;
      padding-left: 1.375rem;
      grid-template-columns: repeat(2, 1fr);
    }
    .sub {
      font-size: 0.625rem;
    }
    .nav {
      margin-block: 1.5rem 1rem;
    }
    .item {
      a {
        font-size: 0.875rem;
      }
    }
    .copy {
      align-self: flex-end;
    }
  }
</style>