---
import '@fontsource-variable/noto-serif-display';
import Logo from "./logo.astro";

const lists = [
  [
    {text: 'トップページ', link: '/'},
    {text: '記事一覧', link: '/articles'},
    {text: 'このサイトについて', link: '/about'},
  ],
  [
    {text: 'お問い合わせ', link: '/contact'},
    {text: 'サイトポリシー', link: '/site-policy'},
    {text: 'プライバシーポリシー', link: '/privacy-policy'},
  ]
]
---
<footer class="footer">
  <div class="inner">
    <Logo class="logo-footer" />
    <nav class="nav">
      {lists.map((list) => {
        return (
        <ul class="list">
          {list.map((item) =>
            <li class="item">
              <a href={item.link}>{item.text}</a>
            </li>)}
        </ul>
      )})}
    </nav>
    <small class="copy">© нуль</small>
  </div>
</footer>

<style lang="scss">
  .footer {
    margin-top: 160px;
    background-color: var(--gray-10);
    border: 1px solid var(--black);
    border-top-right-radius: 48px;
    border-top-left-radius: 48px;
  }
  .inner {
    max-width: 1380px;
    padding: 3.5rem 4rem 5rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto;
    gap: 4rem;
  }
  .nav {
    display: flex;
    gap: 4rem;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .item {
    a {
      color: var(--black);
      font-size: 1.125rem;
      font-weight: bold;
    }
  }
  .copy {
    display: block;
    align-self: end;
    font-size: 1rem;
    font-family: 'Noto Serif Display Variable', serif;
  }
</style>