---
import '@fontsource/shippori-mincho/800.css';

import Hamburger from "./hamburger.jsx";
import Logo from './logo.astro';
import Container from '../container.astro';

---

<header class="header">
  <div class="container">
    <div class="inner">
      <div class="titleSub">
        <Logo class="logo-head" />
        <p class="sub">Web技術を<br />知る・試す・楽しむ<br />ためのテックブログ</p>
      </div>
      <Hamburger client:load />
    </div>
  </div>
</header>

<style lang="scss">
  .header {
    margin-bottom: 3rem;
  }
  .container {
    max-width: 1380px;
    margin-inline: auto;
    padding-inline: 2rem;
  }
  .inner {
    background-color: var(--gray-10);
    padding: 1rem 3.75rem 1.5rem 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
  }
  .titleSub {
    display: flex;
  }
  .sub {
    font-size: 0.875rem;
    margin-left: 25px;
    font-family: 'Shippori Mincho', serif;
    font-weight: 800;
  }
  @include mixin.phone {
    .header {
      margin-bottom: 1.75rem;
    }
    .container {
      padding: 0;
    }
    .inner {
      padding: 0.75rem 1.375rem 1rem 1.375rem;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
    .sub {
      font-size: 0.625rem;
      margin-left: 1rem;
    }
  }
</style>