---
// Supports weights 100-900
import '@fontsource-variable/noto-serif-display';

const { class: className } = Astro.props;
---
<h1 class={className}>
  <a href="/">нуль</a>
</h1>

<style lang="scss">
  h1 {
    font-family: 'Noto Serif Display Variable', serif;
    font-weight: 700;
  }
  a {
    color: var(--black);
  }
  // Homeのheaderのロゴ
  .logo-headHome {
    font-size: 6.25rem;
    line-height: 0.8;
    margin-top: -25px;
  }
  // Home以外のheaderのロゴ
  .logo-head {
    font-size: 4.5rem;
    margin-top: -25px;
  }
  .logo-footer {
    font-size: 5rem;
    margin-top: -30px;
    line-height: 1;
  }
  @include mixin.mobile {
    .logo-headHome {
      font-size: 3.875rem;
      margin-top: 0;
    }
    .logo-footer {
      font-size: 3.125rem;
      margin-top: -10px;
    }
  }
  @include mixin.phone {
    .logo-headHome {
      font-size: 2.625rem;
    }
    .logo-head {
      font-size: 2.625rem;
      margin-top: -15px;
    }
  }
</style>