---
import { ImportIcon } from "../icon/markdown-icon";
const { text } = Astro.props;
---
<div class="import">
  <p class="title">
    <ImportIcon />
    Important
  </p>
  <p class="text" set:html={text}></p>
</div>

<style lang="scss">
  .import {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 2.5rem;
    padding: 0.5rem 1rem 1rem 1.5rem;
    border-left: 4px solid #8957e5;
    background-color: #8957e511;
  }
  .title {
    color: #8957e5;
    margin-bottom: 0.5rem;
    line-height: 18px;
    display: flex;
    gap: 0.25rem;
  }
</style>