---
import { TipIcon } from "../icon/markdown-icon";
const { text } = Astro.props;
---
<div class="tip">
  <p class="title">
    <TipIcon />
    Tip
  </p>
  <p class="text" set:html={text}></p>
</div>

<style lang="scss">
  .tip {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 2.5rem;
    padding: 0.5rem 1rem 1rem 1.5rem;
    border-left: 4px solid var(--green);
    background-color: rgba(0,121,54,.1);
  }
  .title {
    color: var(--green);
    margin-bottom: 0.5rem;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
</style>