---
import { WarningIcon } from "../icon/markdown-icon";
const { text } = Astro.props;
---
<div class="warning">
  <p class="title">
    <WarningIcon />
    Warning
  </p>
  <p class="text" set:html={text}></p>
</div>

<style lang="scss">
  .warning {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 2.5rem;
    padding: 0.5rem 1rem 1rem 1.5rem;
    border-left: 4px solid var(--yellow);
    background-color: #FCBB0311;
  }
  .title {
    color: var(--yellow);
    margin-bottom: 0.5rem;
    line-height: 18px;
    display: flex;
    gap: 0.25rem;
  }
</style>