---
const { maxWidth = '1380px' } = Astro.props;
---
<div class="container">
    <slot />
</div>

<style define:vars={{maxWidth}} lang="scss">
  .container {
    max-width: var(--maxWidth);
    margin-inline: auto;
    padding-inline: 2rem;
  }
  @include mixin.phone {
    .container {
      padding-inline: 1.5rem;
    }
  }
</style>