---
import Card from "./card.astro";


---
<div class="inner">
  <h2>新着記事</h2>
  <div class="wrapper">
    <div class="card-content">
      <Card />
      <Card />
      <Card />
    </div>
  </div>
</div>

<style lang="scss">
  .inner {
    background-color: var(--gray-10);
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
    padding: 4rem 2rem 5rem 2rem;
    display: flex;
    gap: 2rem;
    margin-left: 11.25rem;
    h2 {
      writing-mode: vertical-lr;
      font-size: 2.5rem;
      letter-spacing: 0.3em;
      font-weight: 600;
    }
  }
  .card-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: -1.25rem;
    margin-bottom: 4rem;
  }
</style>