---
import Accordion from "./ui/accordion.astro";
import TableOfContents from "./tableOfContents.astro";
import { category, tags } from "../lib/constants";

const categoryTag = [
  {
    title: 'Category',
    items: category.map(item => ({
      ...item
    }))
  },
  {
    title: 'Tag',
    items: tags.map(item => ({
      ...item
    }))
  }
]

const { blog } = Astro.props;
---
<div class="sidebar for-large">
  <div class:list={["accordion-wrapper", !blog && 'sticky' ]}>
    {categoryTag.map(item => {
      const { title, items } = item;
      return (
        <Accordion title={title} items={items} blog={blog} />
      )
    })
  }
  </div>
  {blog ? <TableOfContents /> : ''}
</div>

<style lang="scss">
  .sidebar {
    width: 220px;
  }
  .accordion-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &.sticky {
      position: sticky;
      top: 32px;
    }
  }
</style>