---
// Supports weights 100-900
import '@fontsource-variable/inter';
// Supports weights 100-900
import '@fontsource-variable/noto-sans-jp';
import '../styles/styles.scss';

import Meta from "../components/base/meta.astro";
import Background from "../components/base/background.astro";
import Header from "../components/base/header.astro";
import Footer from "../components/base/footer.astro";

const props = Astro.props;
const { home } = Astro.props

---
<html lang="ja">
  <head>
    <Meta {...props} />
  </head>
  <body>
    <Background />
    {!home && <Header />}
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
  font-family: 'Inter Variable', 'Noto Sans JP Variable', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>