---
const {
  home,
  text,
  width = '130px',
  height = '2rem',
  fontSize = '1rem',
  radius = '1rem',
} = Astro.props;

const getCategoryColor = (text: string) => {
  switch (text) {
    case 'Coding':
      return 'var(--yellow)';
    case 'ブログ':
      return home ? 'var(--black)' : 'var(--gray-10)';
    case '書籍紹介':
      return 'var(--blue)';
    case 'Web':
      return 'var(--red)';
    default:
      return 'var(--gray-10)';
  }
}
const bg = getCategoryColor(text);

const color =
  bg === 'var(--yellow)' || bg === 'var(--gray-10)'
  ? 'var(--black)' : '#fff';

---
<div class="batch">{text}</div>

<style define:vars={{width, height, fontSize, radius, bg, color}} lang="scss">
  .batch {
    width: var(--width);
    padding-block: 5px;
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: var(--color);
    font-size: var(--fontSize);
  }
  @include mixin.phone {
    .batch {
      width: calc(var(--width) * 0.7);
      font-size: 0.75rem;
      padding-block: 2px;
    }
  }
</style>